<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.MemberVO_Mapper">

	<!-- 회원가입 SQL -->
	<!-- id 속성값은 MemberVO_Mapper 인터페이스의 메소드명과 동일하게  -->
	<!-- parameterType에 클래스타입 저으이할 때 클래스 이름까지 정희할 것  -->
   <insert id = "memberJoin" parameterType="kr.smhrd.model.MemberVO">
      insert into t_member values(#{id},#{pw},#{nick})
   </insert>
	
	<!-- resultType: 반환할 데이터타입-->
	<select id="memberLogin" parameterType="kr.smhrd.model.MemberVO" resultType="String">
		select t_nick from t_member where t_id=#{id} and t_pw=#{pw}
	
	</select>



</mapper>